@font-face {
  font-family: "DinRegular";
  src: url("../fonts/dean-regular.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DinThin";
  src: url("../fonts/dean-thinn.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DinMedium";
  src: url("../fonts/dean-medium.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DinBold";
  src: url("../fonts/dean-bold.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

body {
  text-align: right;
  font-family: "DinRegular";
  background-color: #f8f8f8;
}

.circle-green {
  width: 10px;
  height: 10px;
  background-color: #8dc23e;
  border-radius: 50%;
  position: relative;
  top: 2px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.circle-blue {
  width: 10px;
  height: 10px;
  background-color: #47a6fd;
  border-radius: 50%;
  position: relative;
  top: 2px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.home .btn-dark-blue {
  padding: 5px 25px 8px;
  border-radius: 20pc;
  -webkit-border-radius: 20pc;
  -moz-border-radius: 20pc;
  -ms-border-radius: 20pc;
  -o-border-radius: 20pc;
  background-color: #19243d;
  color: #fff;
  outline: none;
  border: 0;
  font-size: 12px;
}

.home .btn-dark-blue:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home__stats--title {
  font-size: 35px;
  font-weight: bold;
}

.home__stats .card {
  border-radius: 1pc;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
  border: 0;
}

.home__stats .card .card-header {
  background: transparent;
  border-radius: 20pc;
  text-align: center;
  border: 1px solid #ddd;
  padding: 6px;
  margin-top: 7px;
}

.home__stats__tabs {
  padding-right: 0;
  border-bottom: 0;
}

.home__stats__tabs .nav-link {
  border: 0;
  padding: 0.3rem 0rem;
}

.home__stats__tabs .nav-link.active {
  color: #495057;
  border-color: #f08383;
  border-bottom: 1px solid #f08383;
}

.home__stats__tabs--tab {
  list-style: none;
}

.home__stats__tabs--tab a {
  color: #111;
}

.home__stats__tabContent--tab-pane .row:first-child {
  border-bottom: 1px solid #eee;
}

.home__stats__tabContent--tab-pane .row .col-6:first-child {
  border-left: 1px solid #eee;
}

.home__widgets__mainCard {
  border-radius: 1pc;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
  border: 0;
}

.home__widgets__mainCard__requests, .home__widgets__mainCard__reviews, .home__widgets__mainCard__stock {
  border: 0;
}

.home__widgets__mainCard__requests:not(:first-child), .home__widgets__mainCard__reviews:not(:first-child), .home__widgets__mainCard__stock:not(:first-child) {
  margin-top: 10px;
}

.home__widgets__mainCard__requests__card-header, .home__widgets__mainCard__reviews__card-header, .home__widgets__mainCard__stock__card-header {
  background: transparent;
  border-radius: 20pc;
  text-align: center;
  border: 1px solid #ddd;
  padding: 6px;
  cursor: pointer;
}

.home__widgets__mainCard__requests__card-header:not(.collapsed) .rotate-icon, .home__widgets__mainCard__reviews__card-header:not(.collapsed) .rotate-icon, .home__widgets__mainCard__stock__card-header:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.home__widgets__mainCard .checked {
  color: orange;
}

.home__widgets__mainCard .button-outline-blue {
  border: 1.5px solid #80d2ff;
  color: #80d2ff;
  background-color: #0000;
  outline: none;
  padding: 6px 20px;
  font-weight: bold;
  font-size: 13px;
}

.home__widgets__mainCard .button-outline-danger {
  border: 1.5px solid #ff7a7e;
  color: #111;
  background-color: #0000;
  outline: none;
  padding: 6px 20px;
  font-weight: bold;
  font-size: 13px;
}

.home__widgets__mainCard .button-outline-empty {
  color: #111;
  border: 0;
  border-bottom: 1px solid #111;
  background-color: #0000;
  outline: none;
  font-weight: bold;
  font-size: 13px;
}

.settings__title {
  font-size: 35px;
  font-weight: bold;
}

.settings__cards__link {
  display: block;
  color: inherit;
  border-radius: 1pc;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
  border: 0;
  background-color: #fff;
}

.settings__cards__link:hover {
  text-decoration: none;
  color: inherit;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  transition: 0.6s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  -webkit-transition: 0.6s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  -moz-transition: 0.6s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  -ms-transition: 0.6s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  -o-transition: 0.6s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.settings__cards__link--img {
  width: 100px;
}

.settings__cards__link--title {
  font-size: 17px;
}

.settings__cards__link--desc {
  font-size: 13px;
}

.affiliate__title {
  font-size: 35px;
  font-family: "DinMedium";
}

.affiliate__subtitle {
  font-family: "DinThin";
  font-size: 20px;
}

.affiliate__subtitle span {
  color: #36AAFD;
  font-family: "DinMedium";
}

.affiliate__link {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
  padding: 12px;
  border-radius: 5pc;
  -webkit-border-radius: 5pc;
  -moz-border-radius: 5pc;
  -ms-border-radius: 5pc;
  -o-border-radius: 5pc;
}

.affiliate__link--container {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
  padding: 7px 15px;
  border-radius: 5pc;
  -webkit-border-radius: 5pc;
  -moz-border-radius: 5pc;
  -ms-border-radius: 5pc;
  -o-border-radius: 5pc;
}

.affiliate__link--container--btn {
  background-color: transparent;
  border: 0;
  border-left: 1px solid #ddd;
}

.affiliate__subscribe {
  margin-top: 100px;
}

.affiliate__subscribe--title {
  font-size: 35px;
}

.affiliate__subscribe--desc {
  font-family: "DinThin";
  font-size: 20px;
  margin: 55px 0;
}

.affiliate__subscribe--btn {
  background-color: #E95150;
  border-radius: 10pc;
  -webkit-border-radius: 10pc;
  -moz-border-radius: 10pc;
  -ms-border-radius: 10pc;
  -o-border-radius: 10pc;
  color: #fff;
  border-color: #E95150;
  border-style: none;
}

.affiliate__subscribe--btn:focus {
  outline: none;
}

.affiliate__partner--title {
  font-size: 34px;
  text-align: center;
  margin: 50px 0 70px 0;
  font-family: "DinMedium";
}

.affiliate__partner--card {
  text-align: center;
  padding: 15px 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  height: 100%;
}

.affiliate__partner--card--desc {
  text-align: justify;
  font-size: 17px;
  margin-top: 20px;
}

.affiliate__partner--btn button {
  background-color: #E95150;
  border-radius: 10pc;
  -webkit-border-radius: 10pc;
  -moz-border-radius: 10pc;
  -ms-border-radius: 10pc;
  -o-border-radius: 10pc;
  color: #fff;
  border-color: #E95150;
  border-style: none;
}

.affiliate__partner--btn button:focus {
  outline: none;
}

.affiliate__faq--title {
  font-size: 34px;
  text-align: center;
  margin: 50px 0 70px 0;
  font-family: "DinMedium";
}

.affiliate__faq__question--header {
  cursor: pointer;
}

.affiliate__faq__question--header .title {
  font-size: 22px;
  font-family: "DinMedium";
}

.affiliate__faq__question--header:not(.collapsed) .rotate-icon {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: 0.5s all;
  color: #E95150;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.affiliate__faq__question__text p {
  text-align: justify;
}

.affiliate__table__row {
  padding: 10px 100px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
  background-color: #fff;
  border-radius: 1pc;
  -webkit-border-radius: 1pc;
  -moz-border-radius: 1pc;
  -ms-border-radius: 1pc;
  -o-border-radius: 1pc;
}

.affiliate__table__row__titles {
  border-bottom: 1px solid #ddd;
}

.affiliate__table__row__titles h3 {
  font-size: 18px;
  font-family: "DinMedium";
}

.affiliate__table span {
  color: #6c757d;
}
/*# sourceMappingURL=style.css.map */